p {
    font-size: 23px;
}

td {
    font-size: 23px;
}

h1 {
    font-size: 60px;
}
li {
    font-size: 23px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.menu-bar {
  background-color: #1988f7;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}